<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1>Welcome to contacts</h1>
			<p>this project is coming up shortly...</p>
		</div>
		<div class="col-sm-12 text-center">
			<i class="fa fa-camera-retro" style="color: red"></i>
		</div>

	</div>
</div>